body {
  margin: 0px;
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Open Sans", sans-serif !important;
}

/* ========================
          Header
   ======================== */

.header {
  height: 3.5em;
  background-color: #26292c;
}

/* ========================
          Info
   ======================== */

.info {
  height: 3.9rem;
  border-bottom: 1px solid lightgrey;
}

.info__name {
  font-weight: bold;
  padding: 1.2rem;
  padding-left: 1.4rem;
}

/* ========================
          Contact Items
   ======================== */

.element {
  height: 5rem;
  background-color: #fff;
  margin: 20px 20px auto;
  border: 1px solid #c8c8c8;
  cursor: pointer;
}

.element__image {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

.element__info {
  display: inline-block;
  float: left;
  padding: 1rem 1rem;
}
.element__image img {
  border-radius: 50%;
}

.element__image a {
  color: black;
}

.element__info-name {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}

.element__image-edit {
  margin-right: 1rem;
}
