body {
  margin: 0px;
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Open Sans", sans-serif !important;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 10px 15px;
  background: #eee;
  &:hover {
    background: darken(#eee, 5%);
  }
}

.btn:not(:disabled):not(.disabled) {
  border-radius: 0;
  background-color: #fff;
  color: black;
  font-weight: bold;
}

/* ========================
          Header
   ======================== */

.header {
  height: 3.5em;
  background-color: #26292c;
}

/* ========================
          Info
   ======================== */

.info {
  height: 3.9rem;
  border-bottom: 1px solid lightgrey;
}

.info__name {
  font-weight: bold;
  padding: 1.2rem;
  padding-left: 1.4rem;
  display: inline-block;
}

.info-input {
  float: right;
  margin: 1rem;
  border-radius: 4px;
}

/* ========================
          Contact Items
   ======================== */

.element {
  height: 5rem;
  background-color: #fff;
  margin: 1rem 2rem auto;
  border: 1px solid #c8c8c8;
  cursor: pointer;
}

.element__image {
  float: right;
  margin-right: 1rem;
}

.element__info {
  display: inline-block;
  float: left;
  padding-left: 1rem;
}
.element__image img {
  border-radius: 50%;
}

.element__image a {
  color: black;
}

.element__info-name {
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
}

.element__info-company {
  display: inline-block;
  color: grey;
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  .element__info-company {
    font-size: 0.6rem;
  }

  .element__image {
    margin-right: 0rem;
  }
}

/* ========================
          Pagination
   ======================== */

.loadmore {
  background: #d9d9d9;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  margin: 1rem 2rem auto;
  font-weight: 800;
  cursor: pointer;
}

/* ========================
          Modal
   ======================== */

.top__title {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.top__phone {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: lightgreen;
}

.top__image {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.top__information {
  border-top: 1px solid lightgrey;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 1.5em;
  display: flex;
  justify-content: justify-center;
  text-align: right;
}

.top__information-labels {
  font-weight: bold;
}

.top__information-values {
  padding-right: 10rem;
  padding-left: 2rem;
  color: grey;
  text-align: left;
}

.modal-header {
  background-color: #f2f2f2;
  padding: 0.5rem;
}
.modal-content {
  border-radius: 0 !important;
}

.modal-footer {
  background-color: #f2f2f2;
}

.modal-body {
  padding: 2rem;
}

.modal {
  border-bottom: 1px solid grey !important;
  margin-top: 5rem;
}
